<!DOCTYPE html>
{% load static %}
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Fixed Social Sidebar | Webdevtrick.com</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
<link rel="stylesheet" href="{% static 'styles/styles2.css' %}">

</head>
<body>
<ul id="social-sidebar">
  <li>
    <a href="#" class="instagram"><i class="fa-brands fa-instagram"></i></a>
  </li>
  <li>
     <a href="#" class="twitter"><i class="fa-brands fa-twitter"></i></a>
  </li>
  <li>
   <a href="#" class="github"><i class="fa-brands fa-github"></i></a>
  </li>
  <li>
    <a href="#" class="linkedin"><i class="fa-brands fa-linkedin"></i></a>
  </li>
  <li>
    <a href="#" class="discord"><i class="fa-brands fa-discord"></i></a>
  </li>
  <!-- <li>
    <a class="entypo-github"><span>Github</span></a>
  </li>
  <li>
    <a class="entypo-evernote"><span>Evernote</span></a>
  </li> -->
</ul>
</body>
</html>
